// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Datepicker
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

//Font-Awesome
@import '~font-awesome/scss/font-awesome.scss';

//Custom styles
@import "custom.css";